@import url("https://fonts.googleapis.com/css?family=Lato");
@import url("https://fonts.googleapis.com/css?family=Yeseva+One");
html, body {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
  height: 100%; }

p, h1, h2, h3 {
  margin: 0;
  padding: 0; }

@media all and (min-width: 425px) and (max-width: 768px) {
  .call-to-actions {
    display: flex;
    align-items: center;
    height: 125px; }
  .logo-title-wrapper {
    position: relative;
    top: 35px;
    left: 5%; }
  .pull-right {
    float: left !important; } }

@media all and (min-width: 320px) and (max-width: 424px) {
  .call-to-actions {
    padding: 10px 0;
    display: flex; }
  .logo-title-wrapper {
    position: relative;
    top: 35px;
    left: 5%; } }

.logo-wrapper {
  margin: 0 auto;
  max-width: 128px; }
  .logo-wrapper img {
    max-width: 100%; }

.login-cont {
  padding-top: 60px; }

.form-wrapper {
  max-width: 320px;
  margin: 0 auto;
  padding-top: 35px; }
  .form-wrapper input[type=text] {
    height: 56px; }

.btn-wrapper {
  text-align: center;
  padding-top: 15px; }

.login-txt {
  padding: 15px 0;
  text-align: center;
  font-size: 18px; }

header {
  padding: 5px 0; }

.logo-title {
  color: #3a006d;
  font-size: 28px;
  font-family: "Yeseva One", cursive; }

.ds-carousel-image {
  position: relative;
  background-size: cover;
  max-height: 600px;
  min-height: 600px;
  background-position: center top;
  background-repeat: no-repeat; }

.ds-bg-1 {
  background: url("../img/slider/slide-1.jpeg");
  background-size: cover;
  background-position: center; }

.ds-bg-2 {
  background: url("../img/slider/slide-2.jpeg");
  background-size: cover;
  background-position: center; }

.ds-bg-3 {
  background: url("../img/slider/slide-2.jpeg");
  background-size: cover;
  background-position: center; }

.ds-carousel-txt {
  bottom: 30%;
  position: absolute;
  left: 16%; }
  .ds-carousel-txt p {
    font-size: 46px;
    font-family: "Yeseva One", cursive;
    color: #fff; }

.owl-dots {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translatex(-50%); }

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
  background-color: #50e2c2; }

@media all and (min-width: 1024px) {
  .call-to-actions {
    position: relative;
    top: 20px; }
  .logo-title-wrapper {
    position: relative;
    top: 34px; } }

@media all and (max-width: 1023px) {
  .logo-title-wrapper {
    padding-top: 15px; } }

img {
  max-width: 100%; }

@media all and (max-width: 768px) {
  .row-img-txt {
    display: flex; }
    .row-img-txt .col-1 {
      order: 2; } }

#landing-header {
  position: absolute;
  z-index: 999;
  background: transparent;
  border: 0;
  box-shadow: none; }
  #landing-header .logo-wrapper {
    margin: auto; }
    #landing-header .logo-wrapper img {
      border-radius: 50%;
      border: 6px solid #fff; }
  #landing-header .logo-title-wrapper {
    padding: 15px;
    background: #fff;
    border-radius: 10px;
    position: relative;
    top: -5px; }
  #landing-header .logo-container-main {
    position: relative; }
    #landing-header .logo-container-main .logo-cont-inner {
      position: absolute;
      left: 50%; }
  #landing-header .login-wrapper {
    position: absolute;
    right: 0;
    top: 40px; }

.mg-lft-15 {
  margin-left: 15px; }

header {
  box-shadow: 0 0 12px 3px #d3d3d3; }

.img-wrapper {
  max-height: 300px; }

img {
  max-width: 100%;
  object-fit: cover;
  max-height: 300px;
  width: 100%; }

#home-wrapper {
  padding-top: 35px;
  background-color: #f2f2f2; }
  #home-wrapper .heading {
    padding: 30px 0 15px 0; }
    #home-wrapper .heading h3 {
      font-size: 25px;
      color: #3a006d;
      font-weight: 600; }
  #home-wrapper .description {
    padding-bottom: 15px; }
    #home-wrapper .description p {
      font-size: 18px; }
  #home-wrapper a {
    font-size: 18px; }
  #home-wrapper .content-wrapper {
    background: #fff;
    min-height: 300px;
    padding: 20px; }
  #home-wrapper .pd-top {
    margin-top: 15px; }
  #home-wrapper .col-sm-6 {
    padding: 0; }
  #home-wrapper a {
    text-decoration: none;
    color: #000; }
    #home-wrapper a:hover {
      text-decoration: none; }
  #home-wrapper .explore-btn {
    position: relative;
    color: #50e2c2; }

.arrow-cont {
  position: absolute;
  top: 6px;
  left: 55px;
  margin-left: 10px;
  height: 32px;
  width: 32px; }
  .arrow-cont .arrow-right {
    background: url(../img/arrow-right.png) no-repeat;
    height: 100%;
    width: 100%;
    display: block; }

.title {
  text-align: center;
  font-weight: 600;
  font-size: 48px;
  color: #3a006d;
  font-family: "Yeseva One", cursive;
  padding-bottom: 35px; }

#story-wrapper {
  padding-top: 35px; }
  #story-wrapper .col-sm-4 {
    padding: 0 !important; }
  #story-wrapper .img-wrapper {
    position: relative;
    z-index: 1;
    cursor: pointer;
    overflow: hidden; }
    #story-wrapper .img-wrapper .view-details-wrapper {
      display: none;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background: rgba(255, 255, 255, 0.7);
      z-index: 2;
      color: #000;
      width: 250px;
      text-align: center; }
      #story-wrapper .img-wrapper .view-details-wrapper button {
        background: transparent;
        padding: 15px 25px;
        border: 0;
        font-size: 16px; }
    #story-wrapper .img-wrapper .view-design-details {
      position: absolute;
      bottom: 0;
      background: rgba(255, 255, 255, 0.6);
      z-index: 2;
      color: #000;
      width: 100%;
      text-align: center; }
      #story-wrapper .img-wrapper .view-design-details button {
        background: transparent;
        padding: 15px 25px;
        border: 0;
        font-size: 16px; }

header {
  background: #fff; }

#order-wrapper {
  padding-top: 35px; }
  #order-wrapper .order-list-wrapper table {
    background: #fff; }
    #order-wrapper .order-list-wrapper table th {
      font-size: 18px; }

#order-details-wrapper {
  background: #fff;
  padding: 25px;
  border: 2px solid #e6e6e6;
  max-height: 516px;
  min-height: 516px; }

.order-swatch-wrapper {
  margin-top: 15px;
  margin-bottom: 15px; }

#design-wrapper {
  padding-top: 35px; }

.order-id {
  padding: 15px 0; }
  .order-id h3 {
    color: #3a006d; }

.order-type label {
  font-size: 24px; }

.order-type select {
  height: 56px; }

.order-desription {
  padding-top: 15px;
  padding-top: 15px;
  margin-bottom: 50px; }
  .order-desription p {
    font-size: 16px; }
  .order-desription h4 {
    font-size: 24px; }

#order-img-wrapper {
  border: 2px solid #e6e6e6;
  max-height: 516px; }
  #order-img-wrapper img {
    max-width: 100%;
    min-height: 516px;
    object-fit: cover; }

.thumb-image-wrapper {
  height: 162px;
  width: 162px;
  border: 1px solid #e6e6e6; }
  .thumb-image-wrapper img {
    max-width: 100%;
    min-height: 100%;
    object-fit: cover; }

#thumbnails-wrapper {
  margin-top: 35px;
  margin-bottom: 35px; }

.modal-header {
  background: #323232;
  color: #fff; }

.close span {
  color: #fff;
  font-size: 20px; }

#confirmOrder label.modal-title {
  font-size: 24px;
  padding-bottom: 15px; }

.length-wrapper label {
  margin-left: 10px; }

#meter-length {
  height: 56px; }

.fabric-wrapper {
  padding-top: 15px;
  padding-bottom: 15px; }
  .fabric-wrapper label {
    font-size: 24px; }
  .fabric-wrapper p {
    font-size: 16px; }

#thumbnails-wrapper .select-color-txt {
  font-size: 18px;
  padding-bottom: 10px; }

.order-type h4 {
  font-size: 24px; }

.thumb-image-wrapper.active {
  border: 4px solid #7f17c2; }

.btn-purple {
  background-color: #3a006d;
  color: #fff;
  padding: 15px 40px;
  border-radius: 20px;
  font-size: 16px; }
  .btn-purple:hover {
    color: #fff; }

.btn-tur {
  background-color: #50e2c2;
  color: #000;
  padding: 15px 40px;
  border-radius: 20px;
  font-size: 16px; }
  .btn-tur:hover {
    color: #000; }
