<!DOCTYPE html>
<html lang="en">
<head>
  <title>Admin Pages</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <style type="text/css">    
    .row a{width: 100%; margin: 10px 0;}
    .container {margin-top: 20px; margin-bottom: 40px;}
    .logout {float: right;}
   a {margin-right: 10px;}
   a, button, input, .panel, select{border-radius: 0 !important;}
  </style>
</head>
<body>
<div class="container">
  <a href="{{url_for('home')}}" class="btn btn-default">
    <span class="glyphicon glyphicon-home"></span> Home
  </a>
  <a href="/logout" class="btn btn-default logout">Log Out</a>  
  <h4>Admin Pages</h4>  
  <div class="row" style="text-align: center;">
    <div class="col-sm-4 col-sm-offset-4">
      <div>
        <a href="{{url_for('uploadstory')}}" class="btn btn-default" role="button">Upload Story</a>
      </div>
      <div>
        <a href="{{url_for('viewallstories')}}" class="btn btn-default" role="button">View All Stories</a>
      </div>
      <div>
        <a href="{{url_for('uploadfabric')}}" class="btn btn-default" role="button">Upload Fabric</a>
      </div>
      <div>
        <a href="{{url_for('viewallfabrics')}}" class="btn btn-default" role="button">View All Fabrics</a>
      </div>
      <div>
        <a href="{{url_for('uploaddesign')}}" class="btn btn-default" role="button">Upload Design</a>
      </div>
      <div>
        <a href="{{url_for('viewalldesigns')}}" class="btn btn-default" role="button">View All Designs</a>
      </div>
      <div>
        <a href="{{url_for('viewallorders')}}" class="btn btn-default" role="button">View All Orders</a>
      </div>
      <div>
        <a href="{{url_for('viewallusers')}}" class="btn btn-default" role="button">View/Edit Users</a>
      </div>
    </div>
  </div>
</div>
</body>
</html>