<!DOCTYPE html>
<html lang="en">
<head>
  <title>Designs</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <link rel="stylesheet" href="../css/custom.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <style type="text/css">    
    a, button, input {border-radius: 0 !important;}
    .design_img {width: 90%;}
    .design_div {text-align: center; margin: 20px 0; }
    .image_div {width: 25%; float: left; height: 100px; text-align: center;}
    .logout {float: right;}
    .container {margin-top: 20px; margin-bottom: 40px;}
    a {margin-right: 10px;}
    .back {position: absolute;
    left: 6%;
    font-size: 14px;}

    .panel-body{height: 210px;}

  </style>
</head>
<body>
    <header>
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-md-3">
                            <!-- logo -->
                            <div class="logo-wrapper pull-left">
                                <img src="../img/logo.jpg" alt="drapestory-logo">
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="logo-title-wrapper">
                                <h3 class="logo-title">Drape Story</h3>
                            </div>
                        </div>                  
                    </div>                    
                </div>
                <div class="col-sm-6">
                    <div class="call-to-actions pull-right">
                        <a href="{{url_for('ordershistory', username = session['username'])}}" class="btn btn-tur" role="button"><!--<span class="glyphicon glyphicon-list-alt"></span>-->My Orders</a>                        
                        <a href="/logout" class="btn btn-tur mg-lft-15">Logout</a>                    
                    </div>
                </div>
            </div>             
        </div>
    </header>

<section id="story-wrapper">        
<div class="container">
    <div class="title">
        <h1>Abstract</h1>
        <h3 style="text-align: center;"> <a href="{{url_for('displaystories', username = session['username'])}}" class="back"><span class="glyphicon glyphicon-chevron-left"></span> Stories</a>  Welcome {{data['user']['name']}}</h3>        
    </div>
    {% for s in range(data['all_designs']|length) %}
    
    {% if (s+1)%3 == 1 %}
    <div class="row">
    {% endif %}
        <div class="col-sm-4">
            <a href="{{url_for('displaycolors', story_uuid=data['story_data']['story_image'], design_id=data['all_designs'][s]['design_id'])}}">                    
                {% for c in data['all_designs'][s]['colors'] %}
                <div class="img-wrapper">
                    <img src="{{'https://ucarecdn.com/'+c['color_image']+'/-/progressive/yes/-/quality/lightest/'}}" alt="">
    
                    <div class="view-details-wrapper">
                        <a href="{{url_for('displaycolors', story_uuid=data['story_data']['story_image'], design_id=data['all_designs'][s]['design_id'])}}">Click to view details</a>
                    </div>
    
                    <div class="view-design-details">
                        <a>Design Id: {{data['all_designs'][s]['design_id']}}</a>
                    </div>            
                </div>
                {% endfor %}
            </a>
        </div>
    {% if (s+1)%3 == 0 %}
    </div>
    {% endif %}

    {% endfor %}
</div>
</section>

<script src="../js/owl.carousel.js"></script>  
<script src="../js/custom.js"></script>    

</body>
</html>