<!DOCTYPE html>
<html lang="en">
<head>
  <title>Design</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/custom.css">
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <style type="text/css">    
    a, button, input, .panel, select{border-radius: 0 !important;}
    .display_image {width: 75%;}
    .sub_image, .book_image {width: 90%;}
    .sub_image:hover{cursor: pointer;}
    .row {text-align: center;}
    .image_div {width: 20%; float: left; text-align: center;}
    .price {margin:0 10px;}

    .logout {float: right;}
    .container {margin-top: 20px; margin-bottom: 40px;}
    a {margin-right: 10px;}
    .back {position: absolute;
    left: 6%;
    font-size: 14px;}
    .modal-body{text-align: center;}
    .alert {margin-top: 20px;}
  </style>
</head>
<body>

    <header>
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-md-3">
                            <!-- logo -->
                            <div class="logo-wrapper pull-left">
                                <img src="../img/logo.jpg" alt="drapestory-logo">
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="logo-title-wrapper">
                                <h3 class="logo-title">Drape Story</h3>
                            </div>
                        </div>                  
                    </div>                    
                </div>
                <div class="col-sm-6">
                    <div class="call-to-actions pull-right">
                        <a href="{{url_for('ordershistory', username = session['username'])}}" class="btn btn-tur">My orders</a>                    
                        <a href="/logout" class="btn btn-tur mg-lft-15">Logout</a>                    
                    </div>
                </div>
            </div>             
        </div>
    </header>

    <!-- confirm order modal -->
    <div id="confirmOrder" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span id="closeTimes" aria-hidden="true">&times;</span></button>
              <h4 class="modal-title">Confirm your order</h4>
            </div>
            <div class="modal-body">
              <div class="row">
                  <div class="col-sm-6">
                    <div class="order-img-wrapper-modal">
                        <img src="./img/design/1.jpg" alt="">
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <label for="" class="modal-title">Length</label>
                    <div class="length-wrapper"> 
                        <input type="text" id="meter-length" class="length" name="length" placeholder="Length in m">
                        <label>meters</label>
                    </div>
                    <div class="fabric-wrapper">
                        <label for="">Length</label>
                        {% for f in data['design']['fabrics_name'] %}
                        <span>
                          {{f['fabric_name']}},
                        </span>
                        {% endfor %}                     </div>
                    <div class="confirm-order-wrapper-btn">
                        <a class="btn btn-purple btn-block">Confirm order</a>
                    </div>
                  </div>
              </div>
            </div>            
          </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    
    <!-- confirm swatch modal  -->
    <div id="confirm-swatch" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span id="closeTimes" aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title">Confirm your order</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-6">
                        <div class="order-img-wrapper-modal">
                            <img src="./img/design/1.jpg" alt="">
                        </div>
                        </div>
                        <div class="col-sm-6">
                        <div>
                            <p>You are ordering a swatch of this design</p>
                        </div>                        
                        <div class="fabric-wrapper">
                            <label for="">Fabric</label>
                            {% for f in data['design']['fabrics_name'] %}
                            <span>
                              {{f['fabric_name']}},
                            </span>
                            {% endfor %} 
                        </div>
                        <div class="fabric-wrapper">
                            <label for="">Dimension</label>
                            <p>1 feet x 1 feet</p>
                        </div>                        
                        <div class="confirm-order-wrapper-btn">
                            <button class="btn btn-purple btn-block">Confirm order</button>
                        </div>
                        </div>
                    </div>
                </div>            
                </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
      </div><!-- /.modal -->


    <section id="design-wrapper">
       <div class="container">
          <!-- <a href="{{url_for('home')}}" class="btn btn-default">
              <span class="glyphicon glyphicon-home"></span> Home
            </a> -->          
           <div class="row">
               <div class="col-sm-7">
                    <div id="order-img-wrapper">
                        <img src="{{'https://ucarecdn.com/'+data['design']['colors'][0]['color_image']+'/-/progressive/yes/-/quality/lightest/'}}" class="display_image">
                    </div>
               </div>
               <div class="col-sm-5">
                    <div id="order-details-wrapper">
                        <div class="order-id">
                            <h3>ID: {{data['design']['design_uid']}}</h3>
                        </div>
                        <div class="order-type">
                            <h4 for="">Choose a fabric:</h4>
                            <div class="form-group">                                
                                <select name="" id="" class="form-control">
                                    {% for f in data['design']['fabrics_name'] %}        
                                    <option value="{{f['fabric_image']}}">{{f['fabric_name']}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="order-desription">
                            <h4>Description:</h4>
                             {% if data['design']['colors'][0]['color_id'] %}
                              <p class="display_ul_id">{{data['design']['colors'][0]['color_id']}}</p>
                              {% endif %}
                        </div>
                        <div class="order-actions">
                            <div class="order-swatch-wrapper">
                                <button id="orderSwatchBtn" class="btn btn-tur btn-block">Order a swatch</button>
                            </div>
                            <div class="place-order-wrapper">
                                <button id="placeOrderBtn" class="btn btn-purple btn-block">Place an Order</button>
                            </div>
                        </div>
                    </div>
               </div>
           </div>

           <div id="thumbnails-wrapper">
               <label class="select-color-txt">Select a color</label>
                <div class="row">
                    <div class="col-md-2">
                        <div class="thumb-image-wrapper active">
                            <img src="./img/design/1.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="thumb-image-wrapper">
                            <img src="./img/design/1.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="thumb-image-wrapper">
                            <img src="./img/design/1.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="thumb-image-wrapper">
                            <img src="./img/design/1.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="thumb-image-wrapper">
                            <img src="./img/design/1.jpg" alt="">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="thumb-image-wrapper">
                            <img src="./img/design/1.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>

       </div>
    </section>

    <script src="../js/owl.carousel.js"></script>
    <script src="../js/custom.js"></script>

  <script type="text/javascript">
    // $(document).ready(function(){

    //     let s = data["design_json"]|safe
    //     s = JSON.stringify(s);      
    //     // preserve newlines, etc - use valid JSON
    //     s = s.replace(/\\n/g, "\\n")  
    //                    .replace(/\\'/g, "\\'")
    //                    .replace(/\\"/g, '\\"')
    //                    .replace(/\\&/g, "\\&")
    //                    .replace(/\\r/g, "\\r")
    //                    .replace(/\\t/g, "\\t")
    //                    .replace(/\\b/g, "\\b")
    //                    .replace(/\\f/g, "\\f");
    //     // remove non-printable and other non-valid JSON chars
    //     s = s.replace(/[\u0000-\u0019]+/g,"");       
    //     var json = JSON.parse(s);
    //     fabrics = json['fabrics_name']      
    //     $(".sub_image").click(function(){
    //       sub_src = $(this).attr("src");
    //       $('.display_image').attr('src',sub_src);
    //       sub_i_id = $(this).parent().find('.sub_i_id').text()        
    //       $('.display_i_id').text(sub_i_id);
    //       $('.head_color').text(sub_i_id);
    //       sub_ul_id = $(this).parent().find('.sub_ul_id').text()        
    //       $('.display_ul_id').text(sub_ul_id);
    //     });

    //     function check_form(){
    //       if ($('#fabric').val() && ($('.length').val() || $('.length_s').prop("checked"))){
    //         $('.book').attr("disabled", false);
    //       }
    //     }
    //     $('#fabric').change(function(){
    //       fabric_uuid = $('#fabric').val()        
    //       for (fab in fabrics){          
    //         if (fabrics[fab]['fabric_image'] == fabric_uuid){
    //           $('.swatch').text('')
    //           $('.swatch').text(fabrics[fab]['fabric_price']['swatch'])
    //           $('.5_20').text(fabrics[fab]['fabric_price']['5-20'])
    //           $('.20_50').text(fabrics[fab]['fabric_price']['20-50'])
    //           $('.50_100').text(fabrics[fab]['fabric_price']['50-100'])
    //           $('.100_').text(fabrics[fab]['fabric_price']['100-'])
    //         }
    //       }
    //       check_form()
    //     });
    //     $('.length').change(function(){
    //       check_form()
    //     });

    //     // Swatch script
    //     $('.length_s').click(function(){
    //       if($(this).prop("checked") == true){
    //         $('.length').val('');
    //         $('.length').prop('disabled',true);
    //       } else if($(this).prop("checked") == false){          
    //         $('.length').prop('disabled',false);
    //       }
    //       check_form()       
    //     });
    //     // 

    //     $(".book").click(function(){
    //       src = $('.display_image').attr("src");
    //       $('.book_image').attr('src',src);
    //       i_id = $('.display_i_id').text();        
    //       $('.book_i_id').text('Color : '+ i_id)        
    //       if ($('.length').val()){
    //         $('.book_len').text($('.length').val()+' m')
    //         len_price = $('.length').val();
    //         if (len_price>5 && len_price<=20){
    //           fn_price = parseInt($('.5_20').text(), 10) * len_price;          
    //           $('.book_price').text(fn_price)
    //         }
    //         else if (len_price>20 && len_price<=50){
    //           fn_price = parseInt($('.20_50').text(), 10) * len_price;          
    //           $('.book_price').text(fn_price)
    //         }
    //         else if (len_price>50 && len_price<=100){
    //           fn_price = parseInt($('.50_100').text(), 10) * len_price;          
    //           $('.book_price').text(fn_price)
    //         }
    //         else if (len_price>100){
    //           fn_price = parseInt($('.100_').text(), 10) * len_price;          
    //           $('.book_price').text(fn_price)
    //         }
    //       } else if ($('.length_s').prop("checked")){
    //         $('.book_len').text('Swatch');
    //         fn_price = parseInt($('.swatch').text(), 10);
    //         $('.book_price').text(fn_price)
    //       }
    //     });   


    //     $(".confirm").click(function(){
    //       $('.o_wait').show()
    //       design_id = json['design_id']
    //       color_image = $(this).parent().parent().find('.book_image').attr("src").split('/')[3];
    //       story_image = $('.story_id').text()
    //       fabric_image = $('#fabric').val()
    //       qty = $('.book_len').text().split(' ')[0];        
    //       username = $('#user').text();
    //       data = {'o_design':design_id, 'o_color':color_image, 'o_story':story_image, 'o_fabric':fabric_image, 'o_qty':qty, 'o_username':username, 'op':'add'}        
    //       if (qty != ''){
    //         $.ajax({
    //           url: "/orders",
    //           type : "POST",
    //           data : data,
    //           success : function(data){
    //             $('#book').modal('hide');
    //             $('.alert-success').show();
    //             $("html, body").animate({scrollTop: 0}, 1000);
    //             $('.o_wait').hide()
    //           },
    //           error : function(err){}
    //         });  
    //       }
          
    //     });


    // });
  </script>

</body>
</html>