<!DOCTYPE html>
<html lang="en">
<head>
  <title>View all orders</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <link rel="stylesheet" href="../css/custom.css">  

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <style type="text/css">
   table {width: 100%;}
   .logout {float: right;}
   a {margin-right: 10px;}
   a, button, input, .panel, select{border-radius: 0 !important;}
   .container-fluid {margin-top: 20px; margin-bottom: 40px;}
  </style>
</head>
<body>

    <header>
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-md-3">
                            <!-- logo -->
                            <div class="logo-wrapper pull-left">
                                <img src="../img/logo.jpg" alt="drapestory-logo">
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="logo-title-wrapper">
                                <h3 class="logo-title">Drape Story</h3>
                            </div>
                        </div>                  
                    </div>                    
                </div>
                <div class="col-sm-6">
                    <div class="call-to-actions pull-right">
                        <a href="{{url_for('home')}}"  class="btn btn-tur">Home</a>                    
                        <a href="/logout" class="btn btn-tur mg-lft-15">Logout</a>                    
                    </div>
                </div>
            </div>             
        </div>
    </header>

    <section id="order-wrapper">
        <div class="container">
            <div class="title">
                <h1>My Orders</h1>
                <h4>{{data['user_doc']['name']+"'s Orders"}}</h4>
            </div>

            <div class="order-list-wrapper">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Design Id</th>
                            <th>Color</th>
                            <th>Length</th>
                            <th>Fabric</th>
                            <th>Ordered on</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for order in data['all_orders'] %}
                            <tr>         
                                <td>
                                {% if 'design_uid' in order['design_doc'] %}
                                {{order['design_doc']['design_uid']}}
                                {% endif %}
                                </td>
                                <td>          
                                {{order['color_doc']['color_name']}}        
                                </td>
                                <td>{{order['order_qty']}}</td>
                                <td>{{order['fabric_doc']['fabric_name']}}</td>
                                <td>{{order['order_date']+','+order['order_time']}}</td>
                                <td class="status">{{order['order_status']}}</td>          
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </section>

</body>
</html>