<!DOCTYPE html>
<html lang="en">
<head>
  <title>Stories</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/custom.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <style type="text/css">    
    a, button, input {border-radius: 0 !important;}
    .story_img {width: 98%;}
    .story_div {text-align: center; margin: 20px 0; }
    .logout {float: right;}
    .container {margin-top: 20px; margin-bottom: 40px;}
    a {margin-right: 10px;}
  </style>
</head>
<body>
    <header>
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <div class="row">
                        <div class="col-md-3">
                            <!-- logo -->
                            <div class="logo-wrapper pull-left">
                                <img src="../img/logo.jpg" alt="drapestory-logo">
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="logo-title-wrapper">
                                <h3 class="logo-title">Drape Story</h3>
                            </div>
                        </div>                  
                    </div>                    
                </div>
                <div class="col-sm-6">
                    <div class="call-to-actions pull-right">
                        <a href="{{url_for('ordershistory', username = session['username'])}}" class="btn btn-tur">My Orders</a>                    
                        <a href="{{url_for('logout')}}" class="btn btn-tur mg-lft-15">Logout</a>                    
                    </div>
                </div>
            </div>             
        </div>
    </header>

    <section id="home-wrapper">
        <div class="container">
            <h3 style="text-align: center;">Welcome {{data['user']['name']}}</h3>

            {% for s in range(data['all_stories']|length) %}
            {% if (s+1)%4 == 1 %}
            <div class="row">
            {% endif %}
                <a href="{{url_for('displaydesigns', story_uuid=data['all_stories'][s]['story_image'])}}">                
                    <div class="col-xs-6">
                        <div class="img-wrapper">
                            <img src="{{'https://ucarecdn.com/'+data['all_stories'][s]['story_image']+'/-/progressive/yes/-/quality/lightest/'}}">    
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <a>
                            <div class="content-wrapper">
                                <div class="heading">
                                    <h3>{{data['all_stories'][s]['story_name']}}</h3>
                                </div>
                                <div class="description">
                                    <p>{{data['all_stories'][s]['story_desc']}}</p>
                                </div>
                                <!-- explore button -->
                                <a href="{{url_for('displaydesigns', story_uuid=data['all_stories'][s]['story_image'])}}" class="explore-btn">Explore <span class="arrow-cont"><i class="arrow-right" aria-hidden="true"></i></span></a>
                            </div>
                        </a>
                    </div>
                </a>
            {% if (s+1)%4 == 0 %}
            </div>
            {% endif %}

            {% if (s+1)%4 == 2 %}
            <div class="row pd-top row-img-txt"> 
            {% endif %}                   
                    <div class="col-xs-6 col-1">
                        <a>
                            <div class="content-wrapper">
                                    <div class="heading">
                                        <h3>Florals</h3>
                                    </div>
                                    <div class="description">
                                        <p>{{data['all_stories'][s]['story_desc']}}</p>                                </div>
                                    <!-- explore button -->
                                    <a href="{{url_for('displaydesigns', story_uuid=data['all_stories'][s]['story_image'])}}" class="explore-btn">Explore <span class="arrow-cont"><i class="arrow-right" aria-hidden="true"></i></span></a>
                                </div>
                            </a>
                    </div>
                    <div class="col-xs-6 col-2">
                            <div class="img-wrapper">
                                <img src="{{'https://ucarecdn.com/'+data['all_stories'][s]['story_image']+'/-/progressive/yes/-/quality/lightest/'}}" alt="">
                            </div>
                    </div>
            {% if (s+1)%4 == 0 %}
            </div>
            {% endif %}            
            {% endfor %}
        </div>
    </section>

</body>
</html>