<!DOCTYPE html>
<html lang="en">
<head>
  <title>Edit Design</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> <!-- Bootstrap CSS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script> <!-- JQuery -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> <!-- Bootstrap JS -->  

  <style type="text/css">    
    @media (min-width: 767px) {            
    }
    @media (max-width: 768px) {      
    }    
    

    input, select, button, textarea{border-radius: 0px!important;}
    .row_form_artwork{margin-bottom: 60px;}
    .logout {float: right;}
     a {margin-right: 10px;}
     a, button, input, .panel, select{border-radius: 0 !important;}
    .container {margin-top: 20px; margin-bottom: 40px;}
  </style>
</head>
<body>
<!-- Body -->
<div class="container">
  <a href="{{url_for('home')}}" class="btn btn-default">
    <span class="glyphicon glyphicon-home"></span> Home
  </a>
  <a href="/logout" class="btn btn-default logout">Log Out</a>  

<h3>Admin Page (Edit Design)</h3>

<a href="{{url_for('adminpages')}}" style="float: right;" >Admin Pages</a>
<a href="{{url_for('viewalldesigns')}}"> <span class="glyphicon glyphicon-chevron-left"></span> View All Designs</a>
<hr>
<div class="row row_form_artwork">
  <div class="col-sm-10 col-sm-offset-1">
    <form class='form_publish' action="{{url_for('editdesign', design_id = data['design_data']['design_id'])}}" method="post">
      <div class="form-group">
        <label>Design UID:</label>
        <input type="text" class="form-control art_title" placeholder="" name="d_uid" required value="{{data['design_data']['design_uid']}}">
      </div>
      <div class="form-group">
        <label>Fabrics Available:</label>
        <select class="form-control art_type" name="d_fabrics" required multiple>
          {% for f in data['all_fabrics'] %}
          <option value="{{f['fabric_image']}}" {% if f['fabric_image'] in data['design_data']['design_fabrics'] %} selected="" {% endif %}>{{f['fabric_name']}} [{{f['fabric_id']}}]</option>
          {% endfor %}
        </select>
      </div>
      <div class="form-group">
        <label>Available in Stories:</label>
        <select class="form-control art_type" name="d_stories" required multiple>          
          {% for s in data['all_stories'] %}
          <option value="{{s['story_image']}}" {% if s['story_image'] in data['design_data']['design_stories'] %} selected="" {% endif %}>{{s['story_name']}} [{{s['story_id']}}]</option>
          {% endfor %}
        </select>
      </div>
      <button type="submit" class="btn btn-default submit_art">Update Design</button>
    </form>      
  </div>
</div>
</div>
<!-- Body End -->
<script type="text/javascript">
  $(document).ready(function(){
  // Multi select script
    $(".art_type").mousedown(function(e){
        e.preventDefault();

        var select = this;
        var scroll = select .scrollTop;

        e.target.selected = !e.target.selected;

        setTimeout(function(){select.scrollTop = scroll;}, 0);

        $(select ).focus();
    }).mousemove(function(e){e.preventDefault()});
  });
</script>
</body>
</html>
