<!DOCTYPE html>
<html lang="en">
<head>
  <title>Edit Fabric</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> <!-- Bootstrap CSS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script> <!-- JQuery -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> <!-- Bootstrap JS -->  
  <!-- Uploade care script -->  
  <!-- <script>
    UPLOADCARE_LOCALE = "en";
    UPLOADCARE_TABS = "file url facebook gdrive gphotos dropbox instagram evernote flickr skydrive";
    UPLOADCARE_PUBLIC_KEY = "83463116e276fd6c3468";
  </script>   -->
  <!-- <script src="https://code.jquery.com/jquery-2.2.4.min.js" charset="utf-8"></script> -->
  <script src="https://ucarecdn.com/libs/widget/3.0.0/uploadcare.min.js" charset="utf-8"></script>

  <style type="text/css">    
    @media (min-width: 767px) {            
    }
    @media (max-width: 768px) {      
    }    
    .container {margin-top: 20px; margin-bottom: 40px;}
    .logout {float: right;}
   a {margin-right: 10px;}
   a, button, input, .panel, select{border-radius: 0 !important;}
   .back {position: absolute;
    left: 6%;
    font-size: 14px;}

    /*Upload CSS*/
    .row_upload{text-align:center;}
    .uploadcare--widget__button_type_open {display: none}
    .upload_image_display{max-width: 100%; max-height: 330px;}
    .uploadcare--widget__text, .uploadcare--widget__button_type_remove, .uploadcare--widget__button_type_cancel{display: none;}    
    .glyphicon-cloud-upload{font-size: 200px; padding: 10px 60px 45px 60px;border: 1px dashed #dcdcdc; color: #333;box-shadow: 2px 2px 5px #b1b1b1;}
    .glyphicon-cloud-upload:hover{cursor: pointer; opacity: .5;}
    .upload_heading{margin-bottom: 50px; margin-top: 30px;}
    .upload_display{margin-bottom: 60px;}

    input, select, button, textarea{border-radius: 0px!important;}
    .row_form_artwork{margin-bottom: 60px;}

  </style>
</head>
<body>
<!-- Body -->
<div class="container">
  <a href="{{url_for('home')}}" class="btn btn-default">
    <span class="glyphicon glyphicon-home"></span> Home
  </a>
  <a href="/logout" class="btn btn-default logout">Log Out</a>    
  <div class="row row_upload">
    <div class="col-sm-8 col-sm-offset-2">
    <h3 style="text-align: center;"> <a href="{{url_for('viewallfabrics')}}" class="back"><span class="glyphicon glyphicon-chevron-left"></span>View all Fabrics</a>  Edit Fabric</h3>
      <div class="upload_display">
        <!-- <span class="glyphicon glyphicon-cloud-upload"></span> -->
        <img class='upload_image_display' src="{{'https://ucarecdn.com/'+data['fabric_data']['fabric_image']+'/-/progressive/yes/-/quality/lightest/'}}">
      </div>
    </div>
  </div>

  <div class="row row_form_artwork">
    <div class="col-sm-10 col-sm-offset-1">
      <form class='form_u_story' action="{{url_for('editfabric', fabric_image = data['fabric_data']['fabric_image'])}}" method="post">
        <input type="text" class="form-control story_uuid" name="f_uuid" style="display: none;" value="{{data['fabric_data']['fabric_image']}}" required>
        <div class="form-group">
          <label>Fabric Name:</label>
          <input type="text" class="form-control" name="f_name" required value="{{data['fabric_data']['fabric_name']}}">
        </div>
        <div class="form-group">
          <label>Fabric Description:</label>
          <textarea class="form-control" rows="2" name="f_desc" >{{data['fabric_data']['fabric_desc']}}</textarea>
        </div>
        <div class="form-group">
          <label>Fabric Price:</label>
          <div class="row">
            {% if data['fabric_data']['fabric_price']['swatch'] %}
            <div class="col-sm-2 col-sm-offset-1">
              <div class="form-group">
                <label>Price1 (Swatch):</label>
                <input type="text" class="form-control" name="f_s" required value="{{data['fabric_data']['fabric_price']['swatch']}}">
              </div>
            </div>
            {% else %}
            <div class="col-sm-2 col-sm-offset-1">
              <div class="form-group">
                <label>Price1 (Swatch):</label>
                <input type="text" class="form-control" name="f_s">
              </div>
            </div>
            {% endif %}
            <div class="col-sm-2">
              <div class="form-group">
                <label>Price2 (5-20m):</label>
                <input type="text" class="form-control" name="f_5_20" required value="{{data['fabric_data']['fabric_price']['5-20']}}">
              </div>
            </div>
            <div class="col-sm-2">
              <div class="form-group">
                <label>Price3 (20-50m):</label>
                <input type="text" class="form-control" name="f_20_50" required value="{{data['fabric_data']['fabric_price']['20-50']}}">
              </div>
            </div>
            <div class="col-sm-2">
              <div class="form-group">
                <label>Price4 (50-100m):</label>
                <input type="text" class="form-control" name="f_50_100" required value="{{data['fabric_data']['fabric_price']['50-100']}}">
              </div>
            </div>
            <div class="col-sm-2">
              <div class="form-group">
                <label>Price5 (100-~m):</label>
                <input type="text" class="form-control" name="f_100_" required value="{{data['fabric_data']['fabric_price']['100-']}}">
              </div>
            </div>
          </div>
        </div>      
        <button type="submit" class="btn btn-default submit_art">Update Fabric</button>
      </form>      
    </div>
  </div>
</div>
<!-- Body End -->

<script type="text/javascript">
  $(document).ready(function(){
    
    // Upload Script    
    // var widget = uploadcare.Widget('[role=uploadcare-uploader]');
    // widget.onUploadComplete(function(fileInfo) {
    //   var story_uuid = fileInfo.uuid ; //
    //   $('.story_uuid').val(story_uuid);
    //   // Display uploaded image script
    //   $('.glyphicon-cloud-upload').hide();
    //   $('.upload_display').append("<img class='upload_image_display' src='https://ucarecdn.com/"+story_uuid+"/-/progressive/yes/'>")
    //   //
    // });
    // Upload script End

    // Upload button script
    // $(".glyphicon-cloud-upload").click(function(){
    //     $(".uploadcare--widget__button_type_open").click();        
    // });
    // Upload button script End    

  });
</script>

</body>
</html>
