<!DOCTYPE html>
<html lang="en">
<head>
  <title>Edit Story</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> <!-- Bootstrap CSS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script> <!-- JQuery -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> <!-- Bootstrap JS -->    
  <style type="text/css">    
    @media (min-width: 767px) {            
    }
    @media (max-width: 768px) {      
    }

    input, select, button, textarea{border-radius: 0px!important;}
    .row_form_artwork{margin-bottom: 60px;}

    .logout {float: right;}
     a {margin-right: 10px;}
     a, button, input, .panel, select{border-radius: 0 !important;}
    .container {margin-top: 20px; margin-bottom: 40px;}

  </style>
</head>
<body>
<!-- Body -->
<div class="container">
  <a href="{{url_for('home')}}" class="btn btn-default">
    <span class="glyphicon glyphicon-home"></span> Home
  </a>
  <a href="/logout" class="btn btn-default logout">Log Out</a>  

<h3>Admin Page (Upload Story)</h3>

<a href="{{url_for('adminpages')}}" style="float: right;" >Admin Pages</a>
<a href="{{url_for('viewallstories')}}"> <span class="glyphicon glyphicon-chevron-left"></span> View All Stories</a>
<hr>
<div class="row row_upload">
  <div class="col-sm-8 col-sm-offset-2">  
  <div class="upload_display">
    <img class='upload_image_display' src="{{'https://ucarecdn.com/'+data['story_data']['story_image']+'/-/progressive/yes/-/quality/lightest/'}}" style="width: 100%;">
  </div>      
</div>
</div>

<div class="row row_form_artwork">
  <div class="col-sm-10 col-sm-offset-1">
    <form class='form_u_story' action="{{url_for('editstory', story_image = data['story_data']['story_image'])}}" method="post">
      <input type="text" class="form-control story_uuid" name="s_uuid" style="display: none;" required value="{{data['story_data']['story_image']}}">      
      <div class="form-group">
        <label>Story Name:</label>
        <input type="text" class="form-control" name="s_name" required value="{{data['story_data']['story_name']}}">
      </div>
      <div class="form-group">
        <label>Story Description:</label>
        <textarea class="form-control" rows="2" name="s_desc" >{{data['story_data']['story_desc']}}</textarea>
      </div>
      <div class="form-group">
        <label>Current Visibility:</label>
        <p>{{data['story_data']['visibility']}}</p>
        <input type="text" name="c_vis" value="{{data['story_data']['visibility']}}" style="display: none;">
      </div>
      <div class="form-group">
        <label>Change Visibility:</label>
        <select class="form-control select_visibility" name='sheep'>
          <option></option>
          <option>Public</option>
          <option>Bronze</option>
          <option>Silver</option>
          <option>Gold</option>
          <option>Specific Users</option>
        </select>
      </div>
      <div class="form-group visibility_div" style="display: none;">
        <label>Visible to username:</label>
        <input type="text" class="form-control visibility" name="visibility">
      </div>
      <button type="submit" class="btn btn-default submit_art">Update Story</button>
    </form>      
  </div>
</div>
</div>
<!-- Body End -->

<script type="text/javascript">
  $(document).ready(function(){    
    // Upload button script
    $(".glyphicon-cloud-upload").click(function(){
        $(".uploadcare--widget__button_type_open").click();        
    });
    // Upload button script End

    // Visibility Script
    $('.select_visibility').change(function(){
      if ($(this).find(":selected").text()) {
        var v = $(this).find(":selected").text();
        if (v=='Specific Users'){
          $('.visibility').val('');
          $('.visibility_div').show();
        }else {
          $('.visibility_div').hide();
          $('.visibility').val(v);
        }
      }
    });

  });
</script>

</body>
</html>
