<!DOCTYPE html>
<html lang="en">
<head>
  <title>Home</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="../css/custom.css">
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <style type="text/css">
    .home_button {text-align: center;}
    a, button, input {border-radius: 0 !important;}
    .well {text-align: center;}
    .well a,.well button{ width: 10%;}
    .auth-error{text-align: center;}
  </style>
</head>
<body>
    <div class="login-cont">            
            <div class="container">
                <div class="logo-wrapper">
                    <img src="../img/logo.jpg" alt="drapestory-logo">
                </div>
                <p class="login-txt">Please sign in to your account to continue</p>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="form-wrapper">
                            <form class='form_login' action="/signin_up" method="post">
                                <div class="form-group">
                                    <input type="text" id="uname_login" class="form-control" placeholder="Username">
                                </div>
                                <div class="form-group">
                                    <input type="text" id="pwd_login" class="form-control" placeholder="Password">
                                </div>
                                <div class="form-group">
                                    <div class="btn-wrapper">
                                        <button type="submit" class="btn btn-purple">Log In</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                  {% if data['auth']== 'false' %}
                  <div class="auth-error">
                    <div class="alert alert-danger">
                      Invalid credentials. Please try again.
                    </div>
                  </div>
                  {% endif %}
            </div>        
        </div>
</body>
</html>