<!DOCTYPE html>
<html lang="en">
<head>
  <title>Upload Story</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> <!-- Bootstrap CSS -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script> <!-- JQuery -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> <!-- Bootstrap JS -->  
  <!-- Uploade care script -->  
  <script>
    UPLOADCARE_LOCALE = "en";
    UPLOADCARE_TABS = "file url facebook gdrive gphotos dropbox instagram evernote flickr skydrive";
    UPLOADCARE_PUBLIC_KEY = "6f431e2885a3380a36f8";
  </script>  
  <!-- <script src="https://code.jquery.com/jquery-2.2.4.min.js" charset="utf-8"></script> -->
  <script src="https://ucarecdn.com/libs/widget/3.0.0/uploadcare.min.js" charset="utf-8"></script>

  <style type="text/css">    
    @media (min-width: 767px) {            
    }
    @media (max-width: 768px) {      
    }    

    /*Upload CSS*/
    .row_upload{text-align:center;}
    .uploadcare--widget__button_type_open {display: none}
    .upload_image_display{max-width: 100%; max-height: 330px;}
    .uploadcare--widget__text, .uploadcare--widget__button_type_remove, .uploadcare--widget__button_type_cancel{display: none;}    
    .glyphicon-cloud-upload{font-size: 200px; padding: 10px 60px 45px 60px;border: 1px dashed #dcdcdc; color: #333;box-shadow: 2px 2px 5px #b1b1b1;}
    .glyphicon-cloud-upload:hover{cursor: pointer; opacity: .5;}
    .upload_heading{margin-bottom: 50px; margin-top: 30px;}
    .upload_display{margin-bottom: 60px;}

    input, select, button, textarea{border-radius: 0px!important;}
    .row_form_artwork{margin-bottom: 60px;}

    .logout {float: right;}
     a {margin-right: 10px;}
     a, button, input, .panel, select{border-radius: 0 !important;}
    .container {margin-top: 20px; margin-bottom: 40px;}

  </style>
</head>
<body>
<!-- Body -->
<div class="container">
  <a href="{{url_for('home')}}" class="btn btn-default">
    <span class="glyphicon glyphicon-home"></span> Home
  </a>
  <a href="/logout" class="btn btn-default logout">Log Out</a>  

<h3>Admin Page (Upload Story)</h3>

<a href="{{url_for('adminpages')}}" style="float: right;" >Admin Pages</a>
<a href="{{url_for('viewallstories')}}"> <span class="glyphicon glyphicon-chevron-left"></span> View All Stories</a>
<hr>
<div class="row row_upload">
  <div class="col-sm-8 col-sm-offset-2">
  <h3 class="upload_heading">Upload Story Image</h3>
    <div class="upload_display">
      <span class="glyphicon glyphicon-cloud-upload"></span>
    </div>  
    <input type="hidden" role="uploadcare-uploader" data-crop="" data-preview-step="true" data-images-only="true" data-clearable="true" name="my_file" />
  </div>
</div>

<div class="row row_form_artwork">
  <div class="col-sm-10 col-sm-offset-1">
    <form class='form_u_story' action="/uploadstory" method="post">
      <input type="text" class="form-control story_uuid" name="s_uuid" style="display: none;" required>      
      <div class="form-group">
        <label>Story Name:</label>
        <input type="text" class="form-control" name="s_name" required>
      </div>
      <div class="form-group">
        <label>Story Description:</label>
        <textarea class="form-control" rows="2" name="s_desc" ></textarea>
      </div>
      <div class="form-group">
        <label>Visibility:</label>
        <select class="form-control select_visibility" name='sheep' required>
          <option></option>
          <option>Public</option>
          <option>Bronze</option>
          <option>Silver</option>
          <option>Gold</option>
          <option>Specific Users</option>
        </select>
      </div>
      <div class="form-group visibility_div" style="display: none;">
        <label>Visible to username:</label>
        <input type="text" class="form-control visibility" name="visibility" required>
      </div>
      <button type="submit" class="btn btn-default submit_art">Upload</button>
    </form>      
  </div>
</div>
</div>
<!-- Body End -->

<script type="text/javascript">
  $(document).ready(function(){
    
    // Upload Script    
    var widget = uploadcare.Widget('[role=uploadcare-uploader]');
    widget.onUploadComplete(function(fileInfo) {
      var story_uuid = fileInfo.uuid ; //
      $('.story_uuid').val(story_uuid);
      // Display uploaded image script
      $('.glyphicon-cloud-upload').hide();
      $('.upload_display').append("<img class='upload_image_display' src='https://ucarecdn.com/"+story_uuid+"/-/progressive/yes/-/quality/lightest/'>")
      //
    });
    // Upload script End

    // Upload button script
    $(".glyphicon-cloud-upload").click(function(){
        $(".uploadcare--widget__button_type_open").click();        
    });
    // Upload button script End

    // Visibility Script
    $('.select_visibility').change(function(){
      if ($(this).find(":selected").text()) {
        var v = $(this).find(":selected").text();
        if (v=='Specific Users'){
          $('.visibility').val('');
          $('.visibility_div').show();
        }else {
          $('.visibility_div').hide();
          $('.visibility').val(v);
        }
      }
    });

  });
</script>

</body>
</html>
