<!DOCTYPE html>
<html lang="en">
<head>
  <title>View all orders</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <style type="text/css">
   table {width: 100%;}
   .logout {float: right;}
     a {margin-right: 10px;}
     a, button, input, .panel, select{border-radius: 0 !important;}
    .container-fluid {margin-top: 20px; margin-bottom: 40px;}
    .wait {cursor: wait;}
  </style>
</head>
<body>
<div class="wait" style="height: 600px; width: 100%; z-index: 2; position: absolute; display: none;"></div>
<div class="container-fluid">
  <a href="{{url_for('home')}}" class="btn btn-default">
    <span class="glyphicon glyphicon-home"></span> Home
  </a>
  <a href="/logout" class="btn btn-default logout">Log Out</a>  
  
<h3>Admin Page (View All Orders)</h3>
<p>.<a href="{{url_for('adminpages')}}" style="float: right;" >Admin Pages</a></p>
<p><button type="button" class="btn btn-default mail_orders"><span class="glyphicon glyphicon-envelope"></span> Convert and Mail orders</button></p>
<hr>  
  <div class="table">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th>Username</th>
          <th>Name</th>
          <th>Company Name</th>
          <th>Story</th>
          <th>Design UID</th>      
          <th>Color</th>
          <th>Fabric</th>
          <th>Quantity</th>
          <th>Date,time</th>        
          <th>Status</th>
          <th>Update</th>
        </tr>
      </thead>
      <tbody>
      {% for order in data['all_orders'] %}
        <tr class="{{order['string_id']}}">
          <td class="o_username">{{order['order_username']}}</td>
          <td>{{order['user_doc']['name']}}</td>
          <td>{{order['user_doc']['company_name']}}</td>
          <td>{{order['story_doc']['story_name']}}</td>
          <td>
          {% if 'design_uid' in order['design_doc'] %}
          {{order['design_doc']['design_uid']}}
          {% endif %}
          </td>
          <td>{{order['color_doc']['color_name']}}</td>
          <td>{{order['fabric_doc']['fabric_name']}}</td>
          <td>{{order['order_qty']}}</td>
          <td>{{order['order_date']+','+order['order_time']}}</td>
          <td class="status">{{order['order_status']}}</td>
          <td><button type="button" class="btn btn-default update_status" {% if order['order_status'] == 'delivered' %} disabled="" {% endif %} >Done</button></td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $('.update_status').click(function(){
      data = {string_id:$(this).parent().parent().attr('class')}
      $.ajax({
        url: "/viewallorders",
        type : "POST",
        data : data,
        success : function(return_id){
          update_class = '.'+ return_id
          $(update_class).find('.status').text('delivered');
          $(update_class).find('.update_status').prop('disabled',true)
        },
        error : function(err){}
      });  
    });

    $('.mail_orders').click(function(){
      data = {}
      $('.wait').show();
      $.ajax({
        url: "/writetoxl",
        type : "POST",
        data : data,
        success : function(return_id){
          $('.wait').hide();
          alert('Mail Sent');
        },
        error : function(err){}
      });  
    });
  });
</script>
</body>
</html>