<!DOCTYPE html>
<html lang="en">
<head>
  <title>View all users</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <style type="text/css">    
    button, input {border-radius: 0 !important;}    
    .table {font-size: 13px;}
    .update_category {width: 140px;}
    .form-group{margin-bottom: 0px;}
    .edit, .done{padding: 2px 8px; font-size: 12px; margin: 7px 0 0 50px;}

    .logout {float: right;}
     a {margin-right: 10px;}
     a, button, input, .panel, select{border-radius: 0 !important;}
    .container-fluid {margin-top: 20px; margin-bottom: 40px;}
  </style>
</head>
<body>

<div class="container-fluid"> 
  <a href="{{url_for('home')}}" class="btn btn-default">
    <span class="glyphicon glyphicon-home"></span> Home
  </a>
  <a href="/logout" class="btn btn-default logout">Log Out</a>  
  
<h3>Admin Page (View All Orders)</h3>
<p>.<a href="{{url_for('adminpages')}}" style="float: right;" >Admin Users</a></p>
<hr>  
  <div class="table">
    <table class="table table-bordered">
    <thead>
      <tr>
        <th>Username</th>
        <th>Name</th>
        <th>Company Name</th>
        <th>Email</th>
        <th>Address</th>
        <th>M. Num</th>
        <th>L. Num</th>
        <th>GSTIN</th>
        <th>PAN</th>
        <th>Category</th>
      </tr>
    </thead>
    <tbody>
    {% for u in data['all_users'] %}
      <tr>
        <td class="username">{{u['username']}}</td>
        <td>{{u['name']}}</td>
        <td>{{u['company_name']}}</td>
        <td>{{u['email']}}</td>
        <td class="address">{{u['address']['address_details']+','+u['address']['state']+','+u['address']['city']+','+u['address']['pin_code']}}</td>
        <td>{{u['m_num']}}</td>
        <td>{{u['l_num']}}</td>
        <td>{{u['gstin']}}</td>
        <td>{{u['pan']}}</td>
        <td>
          <div class="form-group">
            <select class="form-control update_category" name='update_category' disabled="">              
              <option value="Basic" {% if u['update_category'] == 'Basic' %} selected="" {% endif %}>Basic</option>
              <option value="Bronze" {% if u['update_category'] == 'Bronze' %} selected="" {% endif %}>Bronze</option>
              <option value="Silver" {% if u['update_category'] == 'Silver' %} selected="" {% endif %}>Silver</option>
              <option value="Gold" {% if u['update_category'] == 'Gold' %} selected="" {% endif %}>Gold</option>
              
            </select>            
            <!-- <input type="text" name="update_category" value="{{u['update_category']}}" disabled="" class="update_category"> -->
            <button type="button" class="btn btn-default edit"><span class="glyphicon glyphicon-pencil"></span></button>
            <button type="button" class="btn btn-default done" style="display: none;"><span class="glyphicon glyphicon-ok"></span></button>
          </div>
        </td>        
      </tr>
    {% endfor %}
    </tbody>
  </table>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){      
    
    $('.edit').click(function(){
      $(this).hide();
      $(this).parent().find('.done').show();
      $(this).parent().find('.update_category').prop('disabled',false)
    });

    $('.done').click(function(){
      data = {update_category:$(this).parent().find('.update_category').val(), username:$(this).parent().parent().parent().find('.username').text()};
      console.log(data)
      $(this).parent().find('.done').hide();
      $(this).parent().find('.edit').show();
      $(this).parent().find('.update_category').prop('disabled',true)
      $('selector').css( 'cursor', 'wait' );
      $.ajax({
        url: "/viewallusers",
        type : "POST",
        data : data,
        success : function(x){          
          $('selector').css( 'cursor', 'default' );
        },
        error : function(err){}
      });
    });
  });

</script>

</body>
</html>