<!DOCTYPE html>
<html lang="en">
<head>
  <title>View all stories</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <style type="text/css">    
    button, input {border-radius: 0 !important;}
    .story_img {width: 98%;}
    .story_div {text-align: center; margin: 20px 0; }

    .logout {float: right;}
     a {margin-right: 10px;}
     a, button, input, .panel, select{border-radius: 0 !important;}
    .container {margin-top: 20px; margin-bottom: 40px;}
  </style>
</head>
<body>

<div class="container"> 
<a href="{{url_for('home')}}" class="btn btn-default">
    <span class="glyphicon glyphicon-home"></span> Home
  </a>
  <a href="/logout" class="btn btn-default logout">Log Out</a>  

<h3>Admin Page (View All Stories)</h3>

<a href="{{url_for('adminpages')}}" style="float: right;" >Admin Pages</a>
<a href="{{url_for('uploadstory')}}"></span> Upload Story</a>
<hr>
{% for s in range(data['all_stories']|length) %}

{% if (s+1)%4 == 1 %}
<div class="row">
{% endif %}

  <div class="col-sm-3 story_div">        
    <div class="panel panel-default">
      <div class="panel-heading">
      {{data['all_stories'][s]['story_name']}}
      <a href="{{url_for('editstory', story_image = data['all_stories'][s]['story_image'])}}" class="btn btn-default"><span class="glyphicon glyphicon-pencil"></span></a>
      </div>
      <div class="panel-body">
        <img src="{{'https://ucarecdn.com/'+data['all_stories'][s]['story_image']+'/-/progressive/yes/-/quality/lightest/'}}" class="story_img">
      </div>
      <div class="panel-footer">
      <p class="s_id">{{data['all_stories'][s]['story_id']}}</p>
      <p class="s_desc">{{data['all_stories'][s]['story_desc']}}</p>
      <p class="s_vi">{{data['all_stories'][s]['visibility']}}</p>
      <form action="/viewallstories" method="post">
        <input type="text" class="form-control" name="s_uuid" style="display: none" value="{{data['all_stories'][s]['story_image']}}">
        <button type="submit" class="btn btn-default">Delete Story</button>
      </form>
      </div>
    </div>
  </div>


{% if (s+1)%4 == 0 %}
</div>
{% endif %}

{% endfor %}

</div>

<script type="text/javascript">
  $(document).ready(function(){      

  });
</script>

</body>
</html>