<!DOCTYPE html>
<html lang="en">
<head>
  <title>View all fabrics</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <style type="text/css">    
    button, input {border-radius: 0 !important;}
    .fabric_img {width: 98%;}
    .fabric_div {text-align: center; margin: 20px 0; }

    .logout {float: right;}
     a {margin-right: 10px;}
     a, button, input, .panel, select{border-radius: 0 !important;}
    .container {margin-top: 20px; margin-bottom: 40px;}
  </style>
</head>
<body>

<div class="container"> 
<a href="{{url_for('home')}}" class="btn btn-default">
    <span class="glyphicon glyphicon-home"></span> Home
  </a>
  <a href="/logout" class="btn btn-default logout">Log Out</a>  

<h3>Admin Page (View All Fabrics)</h3>

<a href="{{url_for('adminpages')}}" style="float: right;" >Admin Pages</a>
<a href="{{url_for('uploadfabric')}}"></span> Upload Fabric</a>
<hr>
{% for s in range(data['all_fabrics']|length) %}

{% if (s+1)%4 == 1 %}
<div class="row">
{% endif %}

  <div class="col-sm-3 fabric_div">
    <div class="panel panel-default">
      <div class="panel-heading">
      {{data['all_fabrics'][s]['fabric_name']}}      
      <a href="{{url_for('editfabric', fabric_image = data['all_fabrics'][s]['fabric_image'])}}" class="btn btn-default"><span class="glyphicon glyphicon-pencil"></span></a>
      </div>
      <div class="panel-body">
        <img src="{{'https://ucarecdn.com/'+data['all_fabrics'][s]['fabric_image']+'/-/progressive/yes/-/quality/lightest/'}}" class="fabric_img">
      </div>
      <div class="panel-footer">
      <p class="s_id">{{data['all_fabrics'][s]['fabric_id']}}</p>
      <p class="s_desc">{{data['all_fabrics'][s]['fabric_desc']}}</p>
      <div class="row">
        {% if data['all_fabrics'][s]['fabric_price']['swatch'] %}
        <div class="col-sm-2 col-sm-offset-1">{{data['all_fabrics'][s]['fabric_price']['swatch']}}</div>
        {% else %}
        <div class="col-sm-2 col-sm-offset-1"></div>
        {% endif %}
        <div class="col-sm-2">{{data['all_fabrics'][s]['fabric_price']['5-20']}}</div>
        <div class="col-sm-2">{{data['all_fabrics'][s]['fabric_price']['20-50']}}</div>
        <div class="col-sm-2">{{data['all_fabrics'][s]['fabric_price']['50-100']}}</div>
        <div class="col-sm-2">{{data['all_fabrics'][s]['fabric_price']['100-']}}</div>
      </div>
      <form action="/viewallfabrics" method="post">
        <input type="text" class="form-control" name="s_uuid" style="display: none" value="{{data['all_fabrics'][s]['fabric_image']}}">
        <button type="submit" class="btn btn-default">Delete Fabric</button>
      </form>
      </div>
    </div>
  </div>


{% if (s+1)%4 == 0 %}
</div>
{% endif %}

{% endfor %}

</div>

<script type="text/javascript">
  $(document).ready(function(){      

  });
</script>

</body>
</html>